{% extends 'base.html' %}
{% load static %}
{% block title %}
    GeocodeX
{% endblock %}

{% block content %}


    <div class="card-body">
        <table class="table table-bordered table-hover ">
             <thead class="thead-inverse">
                <tr>
                    <th></th>
                    <th class="text-center align-middle">Nome</th>
                    <th class="text-center align-middle">Estado/Cidade</th>
                    <th></th>
                </tr>
            {% for target in targets %}
                <tr>

                        <td > <img src="{{target.picture.url}}" alt="" class="img-thumbnail rounded-circle d-flex justify-content-center user-pic user-pic" ></td>
                        <td class="text-center align-middle"> {{target.first_name}} {{target.last_name}} </td>
                        <td class="text-center align-middle"> {{target.localization}} </td>
                        <td class="text-center align-middle">
                            <form action="{% url 'details' target.id  %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" value="{{target.localization.address}}" name="address">
                                <input type="hidden" value="{{target.localization.city}}" name="city">
                                <input type="hidden" value="{{target.localization.state}}" name="state">
                                <button type="submit" class="btn" name="btn" value="{{target.id}}"> Visualizar </button>
                            </form>

                        </td>
                </tr>
            {% endfor %}
             </thead>
        </table>
    </div>
{% endblock %}
